.account-main-container {
    font-family: Poppins;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.tab-container {
    width: 30%;
    margin-top: 55px;
    position: relative;
    display: flex;
    justify-content: center;
}

.sub-tab-container {
    width: 70%;
    height: 70vh;
    overflow-y: auto;
    scrollbar-color: #848FFC  transparent;
}

.active-menu span {
    font-weight: 600;
    color: rgba(132, 143, 252, 1);
}

.tab-menu {
    background-color: #F7F7FF;
    border-radius: 13px;
    width: 100%;
    max-width: 200px;
    min-width: 160px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0px;
    z-index: 0;
    overflow: hidden;
}

.sub-menu {
    background: none;
    border: none;
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;

}

.tab-title {
    color: rgba(86, 86, 86, 1);
    font-size: 14px;
    margin-left: 30px;
}

.tab-menu .sub-menu:hover {
    background: rgba(121, 131, 230, 0.1);
    ;
}



.active-menu {
    background: rgba(121, 131, 230, 0.1);
}


.menu-content {
    display: none;
}


.content-heading {
    font-weight: 500;
    font-size: 18px;
}


.profile-main-container {
    display: flex;
    margin-right: 15%;
    flex-direction: column;
    justify-content: start;
}

.edit-icon {
    padding-right: 15px;
    padding-top: 7px;
    justify-self: end;
    cursor: pointer;
}

.profile-details-container {
    display: flex;
    margin-top: 22px;
    border: 1px solid #E6E6E6;
    border-radius: 7px;
    border-style: solid;
}

.profile-address-display,
.profile-details-display {
    width: 100%;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
}

.profile-names {
    /* padding-top: 10px; */
    color: rgba(132, 143, 252, 1);
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
}

.profile-gender {
    font-size: 12px;
    font-weight: 400;
    color: rgba(86, 86, 86, 1);
    font-family: Poppins;
    font-style: italic;
    line-height: 1.5;
    text-transform: capitalize;
}

.profile-address {
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
}


.profile-email {
    padding-top: 15px;
}

.profile-contact {
    padding-bottom: 15px;
}

.profile-details {
    color: rgba(86, 86, 86, 1);
    font-weight: 400;
    font-size: 14px;
}

.profile-address-container {
    width: 49%;
}

.profile-address-name {
    font-size: 14px;
    font-weight: 600;
}

/* .profile-address-display {
    width: 100%;
    margin: 15px;
    margin-bottom: 15px;
    padding-left: 25px;
} */


.profile-address-line {
    padding-top: 8px;
    /* padding-bottom: 15px; */
    font-style: normal;
    line-height: 1.5;
}




.row-flex {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.col-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.edit-headings {
    line-height: 3;
    font-weight: 500;
    font-size: 12px;
    color: rgba(125, 125, 125, 1);
}

.edit-submit,
.edit-close {
    border: unset;
    border-radius: 7px;
    width: 100%;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(132, 143, 252, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 14px;
}

.edit-close {
    cursor: pointer;
    text-align: center;
}

.edit-form-container {
    margin-left: 10%;
}

.input-fields {
    width:100%;
    height:40px;
    background: #f9f9f9;
    border: none !important;
    color: rgba(0, 0, 0, 1) !important;
    font-weight: 400;
    font-size: 14px;
}

.edit-profile,
.add-addresses,
.edit-addresses,
.main-address {
    display: flex;
    margin-right: 15%;
    flex-direction: column;
}

.other-adress,
.edit-details-container {
    margin-top: 15px;
}

.add-address {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(244, 244, 244, 1);
    border-radius: 7px;
    min-height: 150px;
}

.other-address-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.add-icon-container {
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    width: 64px;
    height: 64px;
}

.delete-icon {
    padding-bottom: 5px;
    padding-left: 0px;
    background: none;
    border: none;
}

.logout {
    color: unset;
    padding-left: 6px;
}

.address_block {
    display: none;
}

.btn-form {
    display: flex;
    gap: 10px;
}

.other-adress .profile-details-container,
.other-adress .add-address {
    margin-top: 5px !important;
    margin-bottom: 2px !important;
} 

.address-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.custom-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-modal-content {
    background: #fff;
    padding: 20px 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    min-width: 300px;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 400;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.custom-modal-actions {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.custom-modal-actions button,
.custom-modal-actions a {
    padding: 10px 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

.cancel-btn {
    background-color: #848FFC;
    color: #FFFFFF;
    width: 160px;
    height: 41px;
}

.confirm-btn {
    background-color: #F7F7FF;
    color: #848FFC;
    width: 160px;
    height: 36px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 6px;
    text-align: center;
}

.modal-actions button {
    margin: 10px;
    padding: 10px 20px;
}

.deletecustom-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deletecustom-modal-content {
    background: #fff;
    padding: 20px 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    min-width: 300px;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 400;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.deletecustom-modal-actions {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.deletecustom-modal-actions button,
.deletecustom-modal-actions a {
    padding: 10px 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

.deletecancel-btn {
    background-color: #848FFC;
    color: #FFFFFF;
    width: 160px;
    height: 41px;
}

.deleteconfirm-btn {
    background-color: #F7F7FF;
    color: #848FFC;
    width: 160px;
    height: 41px;
}

.Account-loader{
    display:flex;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top:90px;
    padding-bottom:90px;
}

.loader-spinner{
    border: 4px solid rgb(121, 131, 230, 0.1);
    border-top: 4px solid rgba(132, 143, 252, 1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width : 512px) {
    .profile-address-container {
        width: 100%;
    }

    .other-address-container {
        /* margin-top: 20px; */
        grid-template-columns: repeat(1, 1fr);
    }

    .edit-profile,
    .add-addresses,
    .edit-addresses,
    .main-address {
        margin-right: 20px;
    }

}

@media screen and (max-width: 768px) {
    .account-main-container {
        flex-direction: column;
        margin-top: 20px;
    }

    .tab-container,
    .sub-tab-container {
        flex-basis: 100%;
        width: 100%;
    }

    .tab-menu {
        margin: 0 auto 20px auto;

    }

    .sub-menu {
        padding: 10px 20px;
        font-size: 15px;
        height: auto;
        line-height: normal;
    }

    .sub-tab-container {
        padding-left: 10px;
    }

    .back-to-menu {
        display: inline-block;
        margin-bottom: 15px;
        background: none;
        border: none;
        color: #555;
        font-size: 16px;
        cursor: pointer;
    }

    .menu-content {
        display: none;
    }

    .menu-content.active {
        display: block;
    }

    .profile-main-container,
    .edit-addresses,
    .main-address,
    .edit-profile,
    .add-addresses {
        margin-left: 20px;
        /* margin-right: 40px; */
    }

    .profile-address-container {
        word-break: break-word;
        overflow-wrap: break-word;
        white-space: normal;
        /* width: 100%; */
    }

    .profile-details-display,
    .edit-details-container {
        word-break: break-word;
        overflow-wrap: break-word;
        white-space: normal;
    }

    /* .profile-address-display {
        margin: 35px 35px 30px;
    } */

    .row-flex {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .col-flex {
        width: 100%;
    }

    .input-fields,
    textarea.input-fields {
        width: 100%;
        box-sizing: border-box;
    }


    /* 
    .profile-address-display {
        padding: 10px;
    } */

    .profile-email {
        word-break: break-word;
        overflow-wrap: break-word;
        white-space: normal;
    }

    /* .edit-icon {
        position: absolute;
        top: 10px;
        right: 10px;
    } */
}

@media (min-width: 769px) {
    #details {
        display: block;
    }

    .back-to-menu {
        display: none;
    }
}

@media (min-width:1600px) {
    .tab-menu {
        max-width: 280px;
    }

    .sub-menu {
        height: 80px;
    }

    .tab-title {
        font-size: 20px;
    }

    .content-heading {
        font-size: 20px;
    }

    .profile-address-name {
        font-size: 25px;
    }

    .profile-name,
    .profile-address,
    .profile-details {
        font-size: 20px;
    }
}